{% extends 'miiapp/base.html' %}
{% block title %}
    Make a post
{% endblock title %}

{% block content_title%}
    {% if form.instance.pk %}
        Edit Post
    {% else %}
    Posting
    {% endif %}
{% endblock content_title %}


{% block content %}
    <form method="post">
        {% csrf_token %}
        <table>
            {{form.as_p}}
        </table>
        <input type="submit" value="Send">
        <a href="{% url 'miiapp:post_lists' %}" >Cancel</a>
    </form>
{% endblock content %}
