<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Document</title>
</head>
<body>
    <h1>Titulo</h1>
    <p>Lista desorganizada</p>
    <ul>
        <li> punto1</li>
        <li> punto2</li>
        <li> punto3</li>

        </ul>
    <p>{{Mensaje}}</p>
    
    <p>Lista organizada</p>
        <ol>
            <li>punto1</li>
            <li>punto2</li>
            <li>punto3</li>
        </ol>
    <a ref ="home.html">Ir a home.html</a>

</body>
</html>